body {
    font-family: 'Quicksand', sans-serif;
}

i {
    margin-right: 3%;
}

.container-fluid {
    padding: 2% 15%;
}

.nav-link {
    font-size: 1.2rem;
}

.navbar-brand {
    font-size: 1.5rem;
}

.row {
    margin-top: 2%;
}

.welcomingText {
    text-align: center;
}

.descriptionText {
    text-align: center;
}

.inputs {
    text-align: center;
}

.buttonModel {
    text-align: center;
}